/* configurações gerais */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#E8E8DB;
    font-family: 'Times New Roman', Times, serif;
}

main{
    margin: 3rem auto 0 auto;
}

h1{
    font-variant: small-caps;
}

#container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: space-around;
}

#container_simples, #container_cientifica{
    display: grid;
    text-align: center;
    line-height: 60px;
    border: 5px solid;
    padding-right: 10px;
}

#container_simples{
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 100px repeat(5,80px); 
    height: 500px;
}

/* CSS calculadora cientifica */

#container_cientifica{
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 100px repeat(6,80px);
}


/* Fazendo a linha de resultado */
#total_simples, #total_cientifica{
    grid-column: 1/-1;
}

/* Fazendo a linha de limpar */
#limpar_simples, #limpar_cientifica{
    grid-column: 2/4;
}

/* Estilizando o botão */

.btn{
    width: 75px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    margin-left: 10px;
    background-color: white;
}

/* Estilizando o botão de limpar */

#CE_simples, #CE_cientifica{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    margin-left: 10px;
    background-color: white;
}

/* Estilizando o resultado */

#result_simples,#result{
    margin-top: 10px;
    width: 95%;
    height: 80px;
    border-radius: 20px;
    font-size: 30px;
    text-align: right;
    margin-left: 10px;
}

/* Estilizando o botão das calculadoras */

.botao{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    background-color:black;
    display: block;
    margin: 20px auto;
    color:white;
    font-variant: small-caps;
    
}

/* header */

header{
    background-image: linear-gradient(to right, #8f8f8f, rgb(87, 82, 82) 60%, #575654);
    display: flex;
    height: 100px;
    margin-top: 0;
    width: 100%;
    font-size:1.5rem;
}

.menu{
    /* padding-right: 0; */
    text-align: right;
    margin: 1.5rem 1rem 0 10rem;
    }

.menu li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding-right: 30px;
    padding-top: 10px;
}

.menu li a{
    color: #3cb4c4;
    text-decoration: none;
}

#meuLogo{
    width: 5.5rem;
    margin-bottom: 0.7rem;
    margin-top: 0.8rem;
    margin-left: 5rem;
}

#nomeAgencia{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #bb8b07;
    text-shadow: 0.08rem 0.08rem 0.08rem black;
    position: relative;
    top: 1.8rem;
    left: 2.5rem;
}

/* footer */
.icone{
    width: 3.1rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

footer{
    background-image: linear-gradient(to right, #8f8f8f, rgb(87, 82, 82) 60%, #575654);
    height: 100px;
    display: flex;
    margin-top: 3rem;
    color: white;
    font-size: 20px;
    text-align: center;
}

.texto-footer{
    padding-top: 35px;
    padding-left: 110px;
    width: 70%;
}
.redes{
    width: 30%;
    text-align: center;
    margin: 0.4rem 0 0 5.8rem;
    display: flex;
}







