*{
    padding: 0;
    margin: 0;
}

body{
    width: 900px;
    background-color: #191b1a85;
}

h1{
    text-align: center;
    font-size: 4em;
    font-family: sans-serif;
    font-variant: small-caps;
    margin-top: 1em;
    color: #101d14df;
    text-shadow: 1px 1px 5px rgba(16, 17, 16, 0.712);
}

main{
    display: flex;
}

input{
    width: 300px;
    height: 100px;
    letter-spacing: 0.15em;
    border-radius: 15px;
    background-color: #644c09d3;
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffffc7;
    text-shadow: 1px 1px 5px rgba(161, 165, 162, 0.712);
    margin: 150px 0 0 80px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
}

div{
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 2px;
    margin: 30px 0 0 70px;
    overflow-y: scroll;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
    border-style: groove;
    color: black;
}